<!-- add in a script on server to keep heroku pages "fresh"? need to see when they start charging. uptime or data based? -->

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <!-- insert image column -->
    <h2>Credit Card System Data Warehousing Process Model</h2>
    <p>Using a provided database, modelled the process of creating and using a data warehouse to create data marts. Includes both ETL and ELT</p>
    <p>Uses Java, MySQL, Hadoop, Sqoop, Oozie, Hive</p>
    <p><a class="btn btn-default" href="https://github.com/PatrickMcW/DE02-NY" role="button">Examine &raquo;</a> </p>
  </div>
  <div class="col-md-4">
    <!-- insert image column -->
    <h2>bookList</h2>
    <p>App where users can create an account to keep track of books the are/have/want-to read in lists labelled as such. Users can add/remove books as they desire to each list.</p>
    <p>A full-stack CRUD app, includes user authentication and third-party API. Uses PostgreSQL, Node, React, React-Router, Redux, Express, PGP, JSX, Bcrypt</p>
    <p><a class="btn btn-default" href="https://floating-temple-72567.herokuapp.com/" role="button">Check it out &raquo;</a></p>
 </div>
  <!-- <div class="col-md-4">
    <insert image column/>
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div> -->
</div>

<hr>
