<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="./">Patrick-M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav> -->

<dt>


<nav class="navbar navbar-expand navbar-cust bg-cust">
  <div class="container-fluid">
    <a class="navbar-brand" href="./">Patrick-M</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <span class="">
            <a class="nav-link border border-dark rounded border-left-0 border-right-0" href="https://www.linkedin.com/in/mcwilliamspatrick">LinkedIn</a>
          </span>
        </li>
        <li><span>
          <a href="../assets/PatrickMcWilliams.pdf" class="nav-link">Resume pdf</a>
        </span></li>
        <li><span>
          <a href="../assets/PatrickMcWilliams.docx" class="nav-link">Resume docx</a>
        </span></li>
        <li>
          <div class="dropdown">
            <button class="btn btn-outline-cust bg-cust dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
            Githubs
            </button>
            <div class="dropdown-menu text-center py-0 " aria-labelledby="dropdownMenuButton">
              <ul class="list-unstyled">
                <li class="bg-blue btn-outline-cust light-vivid"><a href="https://github.com/PatrickMcW" class="nav-link-cust">
                Java/Data Eng
              </a></li>
                <div class="dropdown-divider-cust my-0"></div>
                <li class="btn-outline-cust bg-blue  orange-vivid"><a href="https://github.com/PatMcW" class="nav-link-cust">JS/Web Dev</a></li>
              </ul>
            </div>
          </div>
        </li>



      </ul>
    </div>
  </div>

</nav>
