<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- the BS colors are not working for me -->

<div class="jumbotron jumbotron-fluid mb-0
 bg-cust-light">
  <div class="container text-center ">
    <h1>Hello!</h1>
    <hr>
    <p>I have: </p>
    <dl>
      <span class="font-weight-bold"></span>
      <dd class="">Recently graduated from intensive <span class="font-weight-bold">480 hour</span> course focused on the fundamentals of <span class="font-weight-bold">Data Engineering</span>. Completed various projects to showcase my technical experience in Big Data.</dd>
      <hr>
      <dd class="">Previously graduated from a <span class="font-weight-bold">420 hour</span> immersive <span class="font-weight-bold">Full Stack Web Development</span> course.</dd>
      <hr>
      <dd class=""><span class="font-weight-bold">4+ years</span> of experience <span class="font-weight-bold">managing and training</span> teams of Customer Service Representatives.</dd>
    </dl>
    <hr>
    <p>I am located in the Greater NYC area<p>
    <p class="">You can contact me at:<p>
      <p> patrick.m.professional <span class="">[at]</span> gmail <span class="">[dot]</span> com<p>
  </div>
</div>
